.bodyContainer {
    height: 70rem
}

.banner {
    width: 100%;
    display: block;
    user-select: none;

}

.bannerContainer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    user-select: none;

}


.bannerButton {
    position: absolute;
    bottom: 5rem;
    left: 20rem;
    background-color: #a22828;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.bannerButton button:hover {
    background-color: #891e1e;
}

.specialtiesContainer {
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10rem;
}

.specialtiesTitle {
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    user-select: none;
}

.carouselContainer {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    user-select: none;
}

.arrow {
    height: 5rem;
    cursor: pointer;
    user-select: none
}